

@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");


body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,255,24,1) 0%, rgba(37,203,215,1) 90% );    text-decoration: none;
}

.reverse{
    direction: rtl; 
}


.home,
.eventlist,
.votelist,
.regtoevent,
.border {
box-shadow:
  0 2.7px 5.4px rgba(0, 0, 0, 0.067),
  0 6px 10.4px rgba(0, 0, 0, 0.098),
  0 10.3px 15.1px rgba(0, 0, 0, 0.12),
  0 16.2px 20.2px rgba(0, 0, 0, 0.14),
  0 24.7px 26.2px rgba(0, 0, 0, 0.16),
  0 38.6px 34.3px rgba(0, 0, 0, 0.182),
  0 67.5px 47.5px rgba(0, 0, 0, 0.213),
  0 157px 80px rgba(0, 0, 0, 0.28)
;

}

.Gallery{
min-height: 100vh;
width:100%;
position: relative;
color:black;
background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,255,24,1) 0%, rgba(37,203,215,1) 90% );    text-decoration: none;
font-family: 'IBM Plex Mono', monospace;
}

.Galleryheader{
    display:flex;
    justify-content: space-between;
    align-items:space;
    padding:0px;
    color:black;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,255,24,1) 0%, rgba(37,203,215,1) 90% );    text-decoration: none;
    z-index:1020 ;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
  
}

.Content{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,255,24,1) 0%, rgba(37,203,215,1) 90% );    text-decoration: none;
}

header a{
    text-decoration: none;
    margin:0px 0px;
    color:black;
    font-weight:bold;
    font-size: large;
}



.hamburger {
    display: none;
  }

@media screen and (max-width: 709px) {
    
    .hamburger div {
        width: 20px;
        height: 4px;
        background: black;
        margin: 2px;
    }
    .hamburger {
        display: inline-block;
        position: absolute;
        right: 10px;
        margin: 5px;
        padding: 9px;
        border-radius: 5px;
    }
    .nav,
    .signup,
    .socialmedia {
        display: none;
    }
    
}

.content .row .cell{
    height:50vh;
}

.content .row .image{
   
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}

.content .row .text{

    font-size:1.5vw;
    align-items:center;
    justify-content:center;
    display: flex;
    text-align: center;
    font-weight:700;
 

}
.content .row .image1{
    background-image: url("../IMG/together.jpg");
}


.content .row .image2{

    background-image: url("../IMG/group.jpg");
}


.content .row .image3{
    background-image: url("../IMG/cleanup.jpg");
   
}


footer{
    height:15vh;
    margin: 0;
    padding:10px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,255,24,1) 0%, rgba(37,203,215,1) 90% );
    width:100vw;
  
  }
  
  footer .footer-box {
    text-align: center;
    margin: 0;
    justify-items: space-around;
    align-items:center;
    padding:10px;
    font-size: 1.5vw;
    font-style: bold;
  }